.report-heading{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
}
.report-list{
    color: white;
    list-style: none;
    font-size: 18px;
    text-align: center;
}
.report-list-h{
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style: none;
    font-size: 25px;
    text-align: center;
}
.report-container{
    display: flex;
    justify-content: space-around;
}