@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #000000;
  --color-footer : #000000;
  --color-blog: #000000;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}
.aqi-content{
  color : white;
}
.insight{
  font-size: 1.7rem;
}
.aqi-details {
  background-color: #f9f9f9;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-top: 20px;
}

.aqi-details h2 {
  margin-bottom: 0.5rem;
}

.aqi-details ul {
  padding-left: 1.2rem;
  margin-top: 0.5rem;
}
